.day{
	display:flex;
	flex-direction:column;
}
#ptag{
	justify-content:center;
	color:aqua;
}
.button-day{
	margin:0px;
	justify-content:center;
	
}
.button-day:active{
	body{
		background-color:black;
	}
}
